<header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This Obidients Blog.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p> A place to discuss about Peter Obi Campaign Strategy , His Achievements , His Plans for the Country , His Manifestos</p>
        <p> A place to discuss Ideas and Strategies and How Peter Obi can Achieve the dream</p>
        <p>A place for all Obidients and all Lovers of Democracy .  Only verified </p>
        <p> You will need to Register and Verify to Post . this is inorder to only Post Verified News and we say NO to Fake news and Online Bullying</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}